# The UFC Hen that laid golden eggs
lorem ipsum
CSV from: https://www.kaggle.com/datasets/remypereira/mma-dataset-2023-ufc?resource=download

### Import files and create DataFrames

In [2]:
import pandas as pd

Creta a Dataframe with content on CSV

In [3]:
df_fighters_data = pd.read_csv('data/ufc_fighter_data.csv')
df_fighters_stats_data = pd.read_csv('data/ufc_fight_stat_data.csv')
df_fights_data = pd.read_csv('data/ufc_fight_data.csv')
df_events_data = pd.read_csv('data/ufc_event_data.csv')

Rename columns to be more clear

In [4]:
df_fighters_data = df_fighters_data.rename(
    columns={
        'fighter_f_name': 'name', 
        'fighter_l_name': 'lastname', 
        'fighter_nickname': 'nickname',
        'fighter_height_cm': 'height_cm',
        'fighter_weight_lbs': 'weight_lbs',
        'fighter_reach_cm': 'reach_cm',
        'fighter_stance': 'stance',
        'fighter_dob': 'date_birth',
        'fighter_w': 'wins',
        'fighter_l': 'losses',
        'fighter_d': 'draws',
        'fighter_nc_dq': 'no_contests', # No. of no contests or disqualifications
        'fighter_url': 'url' # URL used to scrape fighter data from ufcstats.com
    })

In [5]:
df_fights_and_stats = pd.merge(df_fights_data, df_fighters_stats_data, on='fight_id', how='inner')
df_fighters = pd.merge(df_fights_and_stats, df_fighters_data, on='fighter_id', how='inner')
df_events = pd.merge(df_fighters, df_events_data, on='event_id', how='inner')

## Some Stats about figherts in UFC

### Fighter with more fights in UFC

In [6]:
# Count the number of fights per fighter
fights_per_fighter = df_events['fighter_id'].value_counts()

# Create a dataframe with the number of fights per fighter
df_fights_per_fighter = pd.DataFrame({'fighter_id': fights_per_fighter.index, 'num_fights': fights_per_fighter.values}) 

# Merge the dataframe with the number of fights per fighter with the dataframe of fighters
df_fights_per_fighter = pd.merge(df_fights_per_fighter, df_fighters, on='fighter_id', how='inner')

fighter_more_fights = df_fights_per_fighter.sort_values(by='num_fights', ascending=False)
fighter_more_fights[['num_fights', 'name', 'lastname', 'nickname']].head(10)

    num_fights name lastname nickname
0           41  Jim   Miller     A-10
32          41  Jim   Miller     A-10
23          41  Jim   Miller     A-10
24          41  Jim   Miller     A-10
25          41  Jim   Miller     A-10
26          41  Jim   Miller     A-10
27          41  Jim   Miller     A-10
28          41  Jim   Miller     A-10
29          41  Jim   Miller     A-10
31          41  Jim   Miller     A-10

### Youngest UFC Fighter

In [7]:
from datetime import datetime

df_fighters_data['date_birth'] = pd.to_datetime(df_fighters_data['date_birth'])
df_fighters_data['age'] = None
today = datetime.now().date()

for index, row in df_fighters_data.iterrows():
    birth_date = row['date_birth'].date()
    age = today.year - birth_date.year - ((today.month, today.day) < (birth_date.month, birth_date.day))
    df_fighters_data.at[index, 'age'] = age

In [16]:
df_fighters_sorted = df_fighters_data.sort_values(by='age', ascending=False)
df_fighters_sorted[['name', 'lastname', 'age']].head(5)

          name   lastname age
3814       Ron  van Clief  81
650     Branko    Cikatic  69
4049  Yoshiaki      Yatsu  67
1332    Gerard    Gordeau  65
1354   Rickson     Gracie  65

### Tallest Fighter

In [21]:
df_fighters_sorted = df_fighters_data.sort_values(by='height_cm', ascending=False)
df_fighters_sorted[['name', 'nickname', 'lastname', 'height_cm']].head(5)

        name        nickname     lastname  height_cm
3407   Paulo           Giant  Cesar Silva     226.06
634     Hong  Techno Goliath     Man Choi     218.44
2874    Cory        LA Giant     Peterson     210.82
3598  Stefan      Skyscraper       Struve     210.82
1759  Nathan             NaN        Jones     210.82