# The UFC Hen that laid golden eggs
lorem ipsum
CSV from: https://www.kaggle.com/datasets/remypereira/mma-dataset-2023-ufc?resource=download

In [2]:
import pandas as pd

In [3]:
df_fighters = pd.read_csv('ufc_fighter_data.csv')
df_fighters_stats = pd.read_csv('ufc_fight_stat_data.csv')
df_fights = pd.read_csv('ufc_fight_data.csv')
df_events = pd.read_csv('ufc_event_data.csv')

In [4]:
df_fighters = df_fighters.rename(
    columns={
        'fighter_f_name': 'name', 
        'fighter_l_name': 'lastname', 
        'fighter_nickname': 'nickname',
        'fighter_height_cm': 'height_cm',
        'fighter_weight_lbs': 'weight_lbs',
        'fighter_reach_cm': 'reach_cm',
        'fighter_stance': 'stance',
        'fighter_dob': 'date_birth',
        'fighter_w': 'wins',
        'fighter_l': 'losses',
        'fighter_d': 'draws',
        'fighter_nc_dq': 'no_contests', # No. of no contests or disqualifications
        'fighter_url': 'url' # URL used to scrape fighter data from ufcstats.com
    })

In [5]:
df = pd.merge(df_fights, df_fighters_stats, on='fight_id', how='inner')
df = pd.merge(df, df_fighters, on='fighter_id', how='inner')
df_events = pd.merge(df, df_events, on='event_id', how='inner')

In [10]:
# Count the number of fights per fighter
fights_per_fighter = df_events['fighter_id'].value_counts()

# Create a dataframe with the number of fights per fighter
df_fights_per_fighter = pd.DataFrame({'fighter_id': fights_per_fighter.index, 'num_fights': fights_per_fighter.values}) 

# Merge the dataframe with the number of fights per fighter with the dataframe of fighters
df_fights_per_fighter = pd.merge(df_fights_per_fighter, df_fighters, on='fighter_id', how='inner')

fighter_more_fights = df_fights_per_fighter.sort_values(by='num_fights', ascending=False)
fighter_more_fights[['num_fights', 'name', 'lastname', 'nickname']].head(10)

   num_fights     name   lastname               nickname
0          41      Jim     Miller                   A-10
1          39   Andrei   Arlovski            The Pitbull
2          37   Donald    Cerrone                 Cowboy
3          35     Clay      Guida          The Carpenter
4          34   Rafael  Dos Anjos                    NaN
5          33   Demian       Maia                    NaN
6          33   Jeremy   Stephens           Lil' Heathen
7          32    Diego    Sanchez              Nightmare
8          31  Charles   Oliveira              Do Bronxs
9          31     Neil      Magny  The Haitian Sensation